/* Import Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

/* Recording Pulse */
@keyframes pulse-record {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(220, 53, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

.recording-pulse {
  animation: pulse-record 1.5s infinite;
}

.task-card-size {
  width: min(85vw, 420px);
  aspect-ratio: 1 / 1.618;
}
